@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Lekton:400,400i,700');


body {
	padding-top: 50px;
	color: #2C1445;
	font-family: 'Lekton', sans-serif;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 1px;
	position: relative;
}

h1 {
	font-family: 'Bungee Outline', cursive;
	font-size: 84px;
	line-height: 84px;
}

h2 {
	font-size: 42px;
	line-height: 52px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	font-size: 27px;
	line-height: 35px;
	letter-spacing: 0.9px;
}

h4 {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}

a {
	color: #E74D69;
}

a:hover {
	color: #7A091E;
}

.white {
	color: white;
}

.container-fluid.full {
	padding: 0px;
}

.container-fluid.black h1 {
	color: white;
}


.container-fluid.black {
	color: white;
}

.img-responsive.full{
	width: 100%;
}

.navbar-default {
    background-color: #E74D69;
    border-color: #7A091E;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 18px;
	/*font-weight: bold;*/
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
	/*font-weight: bold;*/
}

.navbar-default .navbar-nav * {
	transition: color 0.4s;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #2C1445;
    background-color: #E74D69;
}

.container {
	padding-top: 50px;
	padding-bottom: 70px;
	overflow-x: hidden;
}

.navbar .container {
	padding-top: 0px;
	padding-bottom: 0px;	
}

.bands span {
	display: inline-block;
}

.bands span:nth-child(1) {
	animation-delay:calc( 100ms * 1);
}
.bands span:nth-child(2) {
	animation-delay:calc( 200ms * 1);
}
.bands span:nth-child(3) {
	animation-delay:calc( 300ms * 1);
}
.bands span:nth-child(4) {
	animation-delay:calc( 400ms * 1);
}
.bands span:nth-child(5) {
	animation-delay:calc( 500ms * 1);
}
.bands span:nth-child(6) {
	animation-delay:calc( 600ms * 1);
}
.bands span:nth-child(7) {
	animation-delay:calc( 700ms * 1);
}
.bands span:nth-child(8) {
	animation-delay:calc( 800ms * 1);
}
.bands span:nth-child(9) {
	animation-delay:calc( 900ms * 1);
}
.bands span:nth-child(10) {
	animation-delay: calc(1000ms * 1);
}
.bands span:nth-child(11) {
	animation-delay: calc(1100ms * 1);
}
.bands span:nth-child(12) {
	animation-delay: calc(1200ms * 1);
}
.bands span:nth-child(13) {
	animation-delay: calc(1300ms * 1);
}
.bands span:nth-child(14) {
	animation-delay: calc(1400ms * 1);
}
.bands span:nth-child(15) {
	animation-delay: calc(1500ms * 1);
}

.container-fluid.pink {
	background: #F5B5C1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(231,77,105,1), rgba(231,77,105,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(231,77,105,1), rgba(231,77,105,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(231,77,105,1), rgba(231,77,105,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(231,77,105,1), rgba(231,77,105,0)); /* Standard syntax */
}
.container-fluid.pink-reversed {
	background: #F5B5C1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(231,77,105,0), rgba(231,77,105,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(231,77,105,0), rgba(231,77,105,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(231,77,105,0), rgba(231,77,105,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(231,77,105,0), rgba(231,77,105,1)); /* Standard syntax */
}

.container-fluid.blue {
	background: #92CEEB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,138,207,1), rgba(0,138,207,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,138,207,1), rgba(0,138,207,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,138,207,1), rgba(0,138,207,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,138,207,1), rgba(0,138,207,0)); /* Standard syntax */
}

.container-fluid.blue-black {
	background: #92CEEB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,138,207,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,138,207,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,138,207,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,138,207,1), rgba(0,0,0,1)); /* Standard syntax */
}

.container-fluid.pink-blue {
	background: #E74D69; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(231,77,105,1), rgba(0,138,207,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(231,77,105,1), rgba(0,138,207,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(231,77,105,1), rgba(0,138,207,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(231,77,105,1), rgba(0,138,207,1)); /* Standard syntax */
}

/*h1.animated {
	animation-name: amore;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    color: white;
}*/

@keyframes pulse-big {
	0%{
		transform: scale(1);
	}
    100%{
    	transform: scale(1.2);
    }
}
.pulse-big{
	animation-name: pulse-big;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes ondeggiante {
	0%{
		transform: translate(-7px, 0px);
	}
    100%{
    	transform: translate(7px, 0px);
    }
}
.ondeggiante{
	animation-name: ondeggiante;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.container-fluid.black {
	background: #000; /* For browsers that do not support gradients */
}

#map{
	min-height: 65vh;
	background-color: #E74D69;
}

#aftermovie {
	background-color: black;
}

#aftermovie .video-box {
	width: 100vw;
	height: 56vw;
	max-height: 80vh;
}

#aftermovie iframe {
	width: 100%;
	height: 100%;
}

#map>.map-box {
	width: 100vw;
	height: 56vw;
}

#map iframe {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#amore {
	height: calc(100vh - 50px);
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767px) {

	body {
		font-size: 16px;
		line-height: normal;
	}

	h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.container {
		padding-top: 20px;
	}

	#map>.map-box {
		width: 100vw;
		height: 60vh;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.navbar-default .navbar-brand {
	    color: #fff;
	    font-size: 14px;
		/*font-weight: bold;*/
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-size: 12px;
		padding: 15px 10px;
	}

}
/*@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }*/
/*@media (min-width: @screen-lg-min) { ... }*/


